.left-menu-icon{
    margin-right:20px;
    cursor: pointer;
}

.right-menu{
    width: 500px;
    align-content: center;
}

.service-type-select{
    max-width: "700px"
}

.rightMenuContainer{
    margin: 2em;
    width: "100%"
}

/*
    Right menut control css
*/
.rightMenuContainer .mat-form-field{
    width:400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  