.d3-chart {
    width: 2000px;
    min-height:2000px;
  }
  :host ::ng-deep .node circle {
    /* fill: #fff;
    stroke: steelblue;*/
    stroke-width: 2px; 
  }

  :host ::ng-deep .nodeIcon{
    fill: #fff;
    stroke: #fff;
    stroke-width: 0px;
    cursor: pointer;
  }

  /* Selected node icon class */
  :host ::ng-deep .selected .nodeIcon{
    fill: #fff;
    stroke: red;
    stroke-width: 0.5px;
    cursor: pointer;
  }

  :host ::ng-deep .nodeADD{
    fill: green;
    stroke: green;
    stroke-width: 0.5px;
    cursor: pointer;
  }

  :host ::ng-deep .nodeNONE{
    fill: darkgray;
    stroke: darkgray;
    stroke-width: 0.5px;
    cursor: pointer;
  }

  :host ::ng-deep .node path {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }

  /* Selected node vector SVG symbol class */
  :host ::ng-deep .selected path {
    fill: #fff;
    stroke: red;
    stroke-width: 2px;
  }
  
  :host ::ng-deep .node text {
    font: 10px sans-serif;
  }
  
  :host ::ng-deep .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
  :host ::ng-deep .active {
    stroke-width: 1px !important;
  }

  :host ::ng-deep .selected text{
    /* stroke-width: 2px !important; */
    fill: rgb(187, 97, 14);
  }

  :host ::ng-deep .selected{
    /* stroke-width: 2px !important; */
    fill: rgb(187, 97, 14);
  }
  
  :host ::ng-deep .ghostCircle.show{
      display:block;
  }

  :host ::ng-deep .ghostCircle.over{
    fill: green !important;
    stroke: steelblue;
    stroke-width: 0.2px;
  }
  
  :host ::ng-deep .ghostCircle, .active .ghostCircle{
       display: none;
  }

  :host ::ng-deep .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }
  